<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid box margin-top">
       <h3 class="top-header subtitle">This app is proudly presented to you by Shiny Crab Studio (Formerly known as Wongkito Crabbing Company)</h3>
       <div class="row margin-top">
           <div class="col-md-4 center white-text">
               <%= image_tag("martin.png", class: "profile-pic img-thumbnail") %>
               <h4>Sauron</h4>
               <p>Martin Loekito</p>
           </div>
           <div class="col-md-4 center white-text">
               <%= image_tag("jarold.png", class: "profile-pic img-thumbnail") %>
               <h4>Saruman</h4>
               <p>Jarold Wong</p>
           </div>
           <div class="col-md-4 center white-text">
               <%= image_tag("jun.png", class: "profile-pic img-thumbnail") %>
               <h4>Orc Captain</h4>
               <p>Jun Hwang</p>
           </div>
       </div>
    </div>
</div>
