<h1>Welcome to 607 app!</h1>
<h3>I want to...</h3>
<div class="container-fluid">
    <div class="row spacer">
        <div class="col-md-2 center">
            <!--<h3>Check available rooms</h3>-->
            <span class="fa-stack fa-lg center">
            <!--<i class="fa fa-circle fa-stack-2x"></i>-->
            <i class="fa fa-calendar fa-5x"></i>
            </span>
        </div>
        
        <div class="col-md-2 col-md-offset-1 center">
            <span class="fa-stack fa-lg">
            <!--<i class="fa fa-circle fa-stack-2x"></i>-->
            <i class="fa fa-calendar-check-o fa-5x"></i>
            </span>
        </div>
        <div class="col-md-2 col-md-offset-1 center">
            <span class="fa-stack fa-lg">
            <!--<i class="fa fa-circle fa-stack-2x"></i>-->
            <i class="fa fa-wrench fa-5x"></i>
            </span>
        </div>
        <div class="col-md-2 col-md-offset-1 center">
            <span class="fa-stack fa-lg">
            <!--<i class="fa fa-circle fa-stack-2x"></i>-->
            <i class="fa fa-list-alt fa-5x"></i>
            </span>
        </div>
    </div>
    <div class="row center spacer">
        <div class="col-md-2 header center">
            <h3>Check available rooms</h3>
        </div>
        <div
        <div class="col-md-2 col-md-offset-1 header">
            <h3>Check what's going on</h3>
        </div>
        <div class="col-md-2 col-md-offset-1 header">
            <h3>Report maintenance issue</h3>
        </div>
        <div class="col-md-2 col-md-offset-1 header">
            <h3>I'm in charge of lockup</h3>
        </div>
    </div>
</div>