<div class="navigation">
    <ul>
        <li class="navigation text"><a href="#">login</a></li>
        <li class="navigation text"><a href="#">about</a></li>
    </ul>
</div>
<div class="container-fluid">
    
    <p class="top-header logo">607</p>
    <p class="top-header subtitle">your one stop shop for all things 607.</p>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 center">
            <div class="box">
                <i class="fa fa-calendar-check-o fa-5x"></i>
                    <br/>
                        <h3 class="option-text">
                            Check what's going on
                        </h3>
            </div>            
        </div>
        <div class="col-md-4 center">
            <div class="box">
                <i class="fa fa-wrench fa-5x"></i>
                    <br/>
                        <h3 class="option-text">
                            Report maintenance issue
                        </h3>
            </div>
        </div>
        <div class="col-md-4 center">
            <div class="box">
            <i class="fa fa-list-alt fa-5x"></i>
                <br/>
                    <h3 class="option-text">
                        I'm in charge of lockup
                    </h3>
            </div>        
        </div>
    </div>
    <!--<div class="row center spacer">-->
    <!--    <div class="col-md-4 header">-->
    <!--        <h3>Check what's going on</h3>-->
    <!--    </div>-->
    <!--    <div class="col-md-4 header">-->
    <!--        <h3>Report maintenance issue</h3>-->
    <!--    </div>-->
    <!--    <div class="col-md-4 header">-->
    <!--        <h3>I'm in charge of lockup</h3>-->
    <!--    </div>-->
    <!--</div>-->
</div>