/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
 @import "bootstrap-sprockets";
 @import "bootstrap";
 */
 $font-stack-cursive: 'Pacifico', cursive;
 $font-stack-sans-serif: 'Quicksand', sans-serif;
 $text-color: #f9fbff;
 $shadow: 2px 2px #4b4e54;
 $semi-transparent: rgba(0, 0, 0, .3);

 html {width: 100%;} /* force html to be viewport width */
 body {width: 100%; }

.box {
    background-color: $semi-transparent;
    box-shadow: $shadow $semi-transparent;
    padding: 2em;
    margin: 10px 10px 10px 10px;
    // height: 30em;
    // display: table-cell;
    // vertical-align: middle;
    display: flex;
    flex-direction: column;
    min-height: 35vh;
}

.top-header {
    font: 4em $font-stack-cursive;
    color: $text-color;
    text-align: center;
    text-shadow: $shadow;
    &.subtitle {
        font: 3em $font-stack-sans-serif;
        text-shadow: none;
    }
    &.logo {
        font-size: 12em;
        text-align: center;
    }
}
.background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  background: url('yosemite.jpg') no-repeat center center;
  width: 100%;
  height: 100%;

//   -webkit-filter: blur(5px);
//   -moz-filter: blur(5px);
//   -o-filter: blur(5px);
//   -ms-filter: blur(5px);
//   filter: blur(5px);

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.content {
    overflow: auto;
  position: relative;
  left: 0;
  right: 0;
  z-index: 9999;
  margin-left: 20px;
  margin-right: 20px;
}

.navigation {
    padding: 10px;
    float: right;
    // width: 10%;
    &.text {
        font-family: $font-stack-sans-serif;
        color: $text-color;
        text-decoration: none;
        display: inline-block;
        font-size: 1.5em;
        font-size: 3vw;
    }


}

a.text {
    color: $text-color;
}
.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: solid 1px #bebebe;
}


.header {
    text-align: center;
    color: $text-color;
    // border: 1px solid red;
}

.center {
    text-align: center;
    vertical-align: middle;
    // border: 1px solid red;
}

p {
    // margin: 0 !important;
}

.option-text {
    color: $text-color;
    font-family: $font-stack-sans-serif;
    text-shadow: $shadow;
    font-size: 1.5em;
    font-size: 3vh;
}

.fa {
    color: $text-color;
    padding-top: 60px;
    font-size: 20vh;
}

.white-text {
    color: $text-color;
}

.margin-top {
    margin-top: 100px;
}

.profile-pic {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
