<div class="navigation">
        <ul>
            <li class="navigation text">login</li>
            <li class="navigation text"><%= link_to 'about', static_pages_about_path %></li>
            <li class="navigation text"><%= link_to 'front page', root_path %></li>
        </ul>
</div>